<div class="container-fluid" id="foot_div">

    <footer class="bg-light text-center text-lg-start p-0 w-100" id="footer">
        <div class="container-fluid p-4" id="footer">
          <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="text-uppercase">Que fer?</h5>
                <ul class="list-unstyled mb-0 text-light" id="list_footer">
                  <li>
                    <a id="link_footer" routerLink="/Quisom" class="text-light">Qui som</a>
                  </li>
                  <li>
                    <a id="link_footer" routerLink="/Adopcio" class="text-light">Adopcions</a>
                  </li>
                  <li>
                    <a id="link_footer" routerLink="/Trobats" class="text-light">Gossos trobats</a>
                  </li>
                  <li>
                    <a id="link_footer" routerLink="/Contact" class="text-light">Contacte</a>
                  </li>
                </ul>
              </div>

            <div class="col-md-4 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contacte</h5>

              <ul class="list-unstyled mb-0" id="list_footer">
                <li>
                  <a id="link_footer" class="text-light">C/Nou, 9</a>
                </li>
                <li>
                  <a id="link_footer" class="text-light">17600 Figueres</a>
                </li>
                <li>
                  <a id="link_footer" class="text-light">info@protectoraFigueres.cat</a>
                </li>
                <li>
                  <a id="link_footer" class="text-light">666666666</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
               <img class="img-fluid" id="photo_footer" src="../../assets/img/heart_dog.png">
           </div>
          </div>
        </div>
        <div id="footer_copy">
            <div class="float-none"></div>
            <div class="text-center text-light pb-2">
               <span class="mb-5">Copyright © 2022: Protectora de Figueres te tots els drets reservats
                | <a id="link_footer" routerLink="/Cookies">Política de cookies</a></span>
            </div>
        </div>
    </footer>
</div>
