<div class="div_spacer"></div>
<div class="container-fluid" id="jumbo">
    <div class="row">
      <div class="col p-0">
          <div class="jumbotron jumbotron-fluid" id="photo">
              <span class="prova">Qui som??<h3 class="" id="text_actiu"></h3></span>
          </div>
      </div>
  </div>
</div>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-12" id="titol_qui">
        <h2><b>Benvingut a la nostra web. Som la Protectora de Figueres per l'Acció en Defensa dels Animals.</b></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12" id="info_general_qui">
        <p>
          L'Associació Protectora d'Animals i Plantes de Figueres és una associació sense 
          ànim de lucre constituïda legalment l'any 1955, formada per una Junta Directiva
          i aproximadament uns 350 socis. Està inscrita al registre de nuclis zoològics 
          amb el número G2500093 i té el CIF G17068024. 
          Actualment les nostres instal·lacions acullen, enmig de pins i rosers, 
          aproximadament uns 150 gossos i 50 gats, tots ells a l'espera de trobar una 
          nova llar.
          El finançament de la Protectora s'efectua mitjançant els convenis de servei de 
          recollida dels animals perduts i abandonats de la ciutat de Figueres, 
          Consell comarcal de l'Alt Empordà i Consell Comarcal del Gironès, servei que les 
          administracions públiques han de garantir als ciutadans.
          També de les aportacions solidàries que efectuen els seus socis. 
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12" id="titol_Misió_Visió_Valors">
        <h2><b>Misió, Visió i Valors</b></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4" id="div_mvv">
        <img id="img_mvv" src="../../assets/img/misio.png" alt="">
        <p class="mt-2"><b>Misió</b></p>
      </div>
      <div class="col-lg-8" id="info_mvv">
        <p>Promoure el respecte als animals en l'àmbit social, legal i educatiu. <br><br>
          <b>Àmbit social:</b> fomentem l'adopció dels animals buscant una familia 
          adecuada per a l'adopció, donant una nova llar i oportunitat als gossos 
          abandonats.<br><br>
          <b>Àmbit legal:</b> vetllem pel compliment de l'actual legislació i col·laborem
          amb les autoritats i institucions per instaurar normatives més respectuoses 
          amb els animals.<br><br>
          <b>Àmbit pedagògic:</b> promovem accions formatives que fomentin l'empatia 
          i el respecte als animals a l'educació infantil, primària i a la universitat.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-4" id="div_mvv">
        <img id="img_mvv" src="../../assets/img/visio.png" alt="">
        <p class="mt-2"><b>Visió</b></p>
      </div>
      <div class="col-lg-8" id="info_mvv">
        <p>Aconseguir un món on es respectin i es garanteixin els drets dels animals.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-4" id="div_mvv">
        <img id="img_mvv" src="../../assets/img/valor.png" alt="">
        <p class="mt-2"><b>Valors</b></p>
      </div>
      <div class="col-lg-8" id="info_mvv">
        <p><b>Conciència:</b> Fomentem la presa de consciència sobre l'impacte que els nostres 
          hàbits diaris tenen sobre els animals. <br><br>
          <b>Respecte:</b> Considerem a la nostra acció diària la diversitat de punts de 
          vista que hi ha a la societat. <br><br>
          <b>Col·laboració:</b>Fomentem la participació amb totes les persones i 
          col·lectius que puguin incidir en la millora de les condicions de vida 
          dels animals. <br><br>
          <b>Equitat:</b> Promovem solucions estratègiques que beneficiïn totes les 
          parts implicades. <br><br>
          <b>Independència:</b> Seleccionem les causes en què treballem sense pressions 
          ni interessos polítics o econòmics. <br><br>
          <b>Transparència:</b> Compartim públicament els resultats obtinguts i 
          les activitats realitzades. <br><br>
          <b>Professionalitat:</b> Desenvolupem la nostra activitat de forma estratègica 
          amb un equip de persones compromeses.</p>
      </div>
    </div>
  </div>
