
.div_spacer{
    margin-top: 75px;
}

#photo{
    background: url(../../assets/img/dog_jumbotron_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    width: 100%;
    text-align: center;
}

#photo span {
    font-size: 45px;
    color: #fff;
    position: relative;
    font-weight: bold;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.jumbotron{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}

#titol_qui{
	padding: 45px;
	text-align: center;
	color: #099a94;
}

#info_general_qui{
	padding: 0px 45px;
	line-height: 20px;
	text-align: justify;
}

#titol_Misió_Visió_Valors{
	padding: 45px 45px 20px 45px;
	text-align: center;
	color: #099a94;
}

#div_mvv{
	align-items: center;
	text-align: center;
	padding: auto;
}

#div_mvv p{
	font-size: 18px;
	color: #099a94;
}

#img_mvv{
	height: 250px;
	width: 250px;
}

#info_mvv{
	padding: 20px 45px;
	text-align: justify;
}

#info_mvv p b{
	color: #099a94;
}