<div class="container-fluid d-flex" id="header_home"></div>
<div class="container-fluid" id="qui_som">
    <div class="row justify-content-center">
      <div class="col col-lg-6 align-middle text-center justify-content-center" id="info_qui_som">
        <div class="row justify-content-center mt-3">
        <h1 class="" id="titol_qui_som"><b> Qui som?? </b></h1>
        <p class="text-center text-justify">Benvinguts a la pagina web de la Protectora de Figueres.
            El nostre centre està ubicat aprop de l'estació de trens, a Figueres. Si desitges més informació
            sobre la nostre fundació, a més de veure les nostres activitats,
            no dubtis en contactarnos, estarem encantats de atendre't!</p>
        <a routerLink="/Quisom" class="btn btn-xs btn-warning m-4" id="btn_qui_som" type="button">Més informació</a>
      </div>
      </div>
      <div class="col-lg-6">
          <img class="img-fluid" id="img_qui_som" src="../../assets/img/dog_walk.png" alt="">
      </div>
    </div>
</div>
<div class="container-fluid" id="motivacio">
  <div class="row justify-content-center">
    <div class="col col-12" id="img_motivacio">
        <div class="col col-lg-6">
          <h2 id="frase_motivacio" class="align-middle">Els ulls d'un animal tenen el poder de parlar un gran llenguatge.</h2>
          <p id="autor_motivacio">Martin Buber</p>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="adopcio">
  <div class="row justify-content-center">
    <div class="col col-lg-6 align-middle text-center justify-content-center" id="info_adopcio">
      <div class="row justify-content-center">
        <div class="img_dog">
          <img class="img-fluid mx-auto d-block justify-content-center" id="img_adopcio" src="../../assets/img/pngwing.com (5).png" alt="">
        </div>
      </div>
      <div class="row justify-content-center mt-3" id="info_gossos">
        <h1 class="mt-4" id="titol_qui_som"><b>Adopció gossos</b></h1>
        <p class="text-center text-justify">Coneix algun dels nostre amics «diferents» que també tenen
          de tenir una oportunitat.
        </p>
        <a routerLink="/Adopcio" class="btn btn-xs btn-warning m-4" id="btn_qui_som" type="button">Més informació</a>
      </div>

    </div>
    <div class="col col-lg-6 align-middle text-center justify-content-center" id="info_adopcio">
      <div class="row justify-content-center">
        <div class="img_dog">
          <img class="img-fluid mx-auto d-block justify-content-center" id="img_perdut" src="../../assets/img/pngwing.com (4).png" alt="">
        </div>
      </div>
      <div class="row justify-content-center mt-3" id="info_gossos">
        <h1 class="mt-4" id="titol_qui_som"><b>Gossos trobats</b></h1>
        <p class="text-center text-justify">Actualització dels gossos trobats sense propietari per Figueres i pobles del voltant.</p>
        <a routerLink="/Trobats" class="btn btn-xs btn-warning m-4" id="btn_qui_som" type="button">Més informació</a>
      </div>
    </div>
  </div>
</div>
