<div class="div_spacer"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <div class="jumbotron jumbotron-fluid" id="photo">
                <span class="prova">Política de cookies<h3 class="" id="text_actiu"></h3></span>
            </div>
        </div>
    </div>
    <div class="container_cookies">
        <div class="row">
            <div class="col-12 text-justify">
                <h2 class="text-center" style="color: #099a94"><b>Què són les cookies?</b></h2><br>
                <p>Una cookie és un fitxer que es descarrega al seu ordinador en accedir a 
                determinades pàgines web. Les cookies permeten a una pàgina web, entre altres
                coses, emmagatzemar i recuperar informació sobre hàbits de navegació d'un 
                usuari o del seu equip i, depenent de la informació que continguin i de la 
                forma que utilitzi el seu equip, poden utilitzar-se per a reconèixer a 
                l'usuari.</p>
                <div class="div-spacer"></div>
                <h2 class="text-center" style="color: #099a94"><b>Per a què s'utilitzen les cookies i quins solen ser les seves finalitats?</b></h2><br>
                <p><i class="fas fa-angle-right" id="icon_cookies"></i> <b id="bold_info">Cookies d'anàlisis:</b> són aquelles cookies que bé, tractades per nosaltres o per tercers,
                ens permeten quantificar el nombre d'usuaris i així realitzar el mesurament i anàlisi 
                estadística de la utilització que fan els usuaris del servei. Per això s'analitza la 
                seva navegació en la nostra pàgina web amb la finalitat de millorar l'experiència de 
                l'usuari.</p>
                <p><i class="fas fa-angle-right" id="icon_cookies"></i> <b id="bold_info">Cookies tècniques:</b> Són aquelles que permeten a l'usuari la navegació a través de
                la pàgina web o aplicació i la utilització de les diferents opcions o serveis
                que en ella existeixen. Per exemple, controlar el trànsit i la comunicació de
                dades, identificar la sessió, accedir a les parts web d'accés restringit,
                recordar els elements que integren una comanda, realitzar la sol·licitud
                d'inscripció o participació en un esdeveniment, utilitzar elements de 
                seguretat durant la navegació i emmagatzemar continguts per a la difusió 
                de vídeos o so.</p>
                <p><i class="fas fa-angle-right" id="icon_cookies"></i> <b id="bold_info">Cookies sobre personalització:</b> Són aquelles que permeten a l'usuari accedir
                al servei amb algunes característiques de caràcter general predefinides en la 
                seva terminal o que el propi usuari defineixi. Per exemple, l'idioma, el tipus 
                de navegador a través del qual accedeix al servei, el disseny de continguts 
                seleccionat, geolocalització del terminal i la configuració regional des d'on 
                s'accedeix al servei.</p>
                <p><i class="fas fa-angle-right" id="icon_cookies"></i> <b id="bold_info">Cookies sobre preferències:</b> Aquestes cookies permeten que els nostres llocs
                web recordin informació que canvia l'aspecte o el comportament del lloc com,
                per exemple, el teu idioma preferit o la regió en la qual et trobes. Per exemple,
                en recordar la teva regió, un lloc web pot proporcionar-te notícies sobre el trànsit
                o butlletins meteorològics locals. Aquestes cookies també et permeten canviar la 
                grandària del text, la font i altres parts de les pàgines web que pots personalitzar.</p>
                <p><i class="fas fa-angle-right" id="icon_cookies"></i> <b id="bold_info">Cookies publicitàries:</b> Són aquelles que permeten la gestió eficaç dels espais 
                publicitaris que s'han inclòs en la pàgina web o aplicació des de la qual es presta 
                el servei. Permeten adequar el contingut de la publicitat perquè aquesta sigui 
                rellevant per a l'usuari i per a evitar mostrar anuncis que l'usuari ja hagi vist.</p>
            </div>
        </div>
    </div>
</div>
